@charset "utf-8";

body {
    background-color: #ffffff;
    font-size: 15px;
    font-family: "Noto Sans JP", "Noto serif JP",sans-serif;
    justify-content: center;
    color: #333333;
}

.layoutWrap {
    display: flex;
    width: 1318px;
    height: 32.85px;  
    padding: 10px auto;
    margin: 10px;  
}

h1 {
    text-align: top;
    display: flex;
    width: 400px;
    height: 32.85px;
    justify-content: left;
}

.images hero {
    width: 100%;
    height: 548.31px;  
}

header nav ul {
    font-family: "Noto Serif JP", serif;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    width: 629px;
    height: 16px;
    padding: 0 auto;
    margin: 20px 0;
}

header nav ul li{
    margin: 20px 0;
}

header nav ul li a:hover {
    text-decoration: underline;
}

h2 {
    font-family: "Noto Serif JP", serif;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px 0;
    color: #333333;
}

h3 {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #223e69;
}

h4 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h5 {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

h6 {
    background-color: #333333;
    font-size: 18px;
    border: 3px sorid #333333;
    border-radius: 20px;
    padding: 6px 0;
    margin: 20px auto;
    text-align: center;
    color: #ffffff;
    width: 200px;
    align-self: center;
}

.catch {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #223e69;
}

.catch:before,.catch:after {
    border-top: 1px solid;
    content: "";
    width: 8em;
}

.catch:before {
    margin-right: 1em;
    color: #223e69;
}

.catch:after {
    margin-left: 1em;
    color: #223e69;
}

.svcSec .mor {
    justify-content: flex-end;
}

.serviceArea {
    display: flex;
}

.serviceArea ol {
    display:space-between;
}

.serviceArea ol li{
    display: block;
    align-self: center;
    width: 300px;
    height: 210.51px;
}

.flSec {
    background-color: #e5e5e5;
}

.flSec ol {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    text-align: center;
}

.flSec ol li{
    writing-mode: vertical-rl;
    width: 300px;
    height: 210.51px;
}

.qstSec ol li{
    display: block;
}

.qstSec ol li{
    writing-mode: horizontal-tb;
}

.circle_q {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #b71b26;
}

.circle_a {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #333333;
}

.ctcSec {
    background-color: #e5e5e5;
    padding-bottom: 10px;
    justify-content: center;
}

input[type="text"],
input[type="email"],
textarea {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    width: 300px;
    height: 60px;
    margin: 10px auto;
}

.submitBtn {
    text-align: center;
}

input[type="submit"] {
    background-color: #333333;
    color: #ffffff;
    padding: 18px 80px;
}

form {
    width: 1020px;
    height: 1000px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}
.pagetop {
    height: 60px;
    width: 60px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #333;
    border: solid 2px #333;
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pagetop__arrow {
    height: 30px;
    width: 30px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: translateY(20%) rotate(-45deg);
}

footer {
    background-color: #333333;
    color: #ffffff;
    width: 1366px;
    height: 62px;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 375px) {
    body {
        display: block;      
    }
    body p {
        text-align: left;
    }
    h1 {
        text-align: top;
        display: flex;
        width: 240px;
        height: 19.71px;
        justify-content: left;
    }
    .images hero {
        width: 100%;
        height: 480px;  
        position: fixed;
    }

    .layoutWrap img,
    .svcSec img,
    form {
        width: 100%;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        background: #fff;
    }
    
    .logo {
        font-size: 24px;
    }

    .drawer_hidden {
        display: none;
    }
    
    .drawer_open {
        display: block; 
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;
        cursor: pointer;
    }
    
    .drawer_open span,
    .drawer_open span:before,
    .drawer_open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background: #333;
        transition: 0.5s;
        position: absolute;
    }

    .drawer_open span:before {
        bottom: 8px;
    }

    .drawer_open span:after {
        top: 8px;
    }
 
    #drawer_input:checked ~ .drawer_open span {
        background: rgba(255, 255, 255, 0);
    }
 
    #drawer_input:checked ~ .drawer_open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    
    #drawer_input:checked ~ .drawer_open span::after {
        top: 0;
        transform: rotate(-45deg);
    }
 
    .nav_content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%; 
        z-index: 99;
        background: #fff;
        transition: .5s;
    }

    .nav_list {
        list-style: none;
    }
 
    #drawer_input:checked ~ .nav_content {
        left: 0;
    }

}